@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 400;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.driver-map-container {
  width: 100%;
  height: 80vh;
}

.driver-map {
  width: 100%;
  height: 80vh;
}
